@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Sedan+SC&display=swap");
@font-face {
  font-family: Aarambh;
  src: url(/four.woff2);
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@font-face {
  font-family: yash-ne-bheja;
  src: url(/six.woff2);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Aarambh;
}
h3 {
  text-align: left;
}
.nav {
  width: 100vw;
  position: fixed;
  z-index: 100000;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  mix-blend-mode: difference;
  justify-content: space-between;
}
.nav img {
  height: 100px;
}
.btn-cnt {
  display: flex;
  gap: 20px;
}
#sagelogo {
  height: 40px;
  width: 130px;
  padding-left: 20px;
}
.nav-btn {
  border: 1.5px solid white;
  border-radius: 30px;
  height: 45px;
  width: 150px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  padding-inline: 15px;
  background-color: transparent;
}
#register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main {
  height: 600px;
  width: 100%;
  background-image: url(C:\Users\Admin\Desktop\vite\Aarambh\Aarambh\src\assets\front2.jpg);
  background-size: 1400px;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  padding-top: 100px;
  margin-left: 60px;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
}

#line1 {
  font-size: 25px;
}
.about {
  padding-top: 20px;
  height: 750px;
  background-color: #f9f6f3;
}
.wavesvg {
  filter: invert(0);
}
#abt {
  padding-left: 30px;
  font-size: 35px;
}
#abt-dis {
  float: right;
  width: 45%;
  display: flex;
  font-family: yash-ne-bheja;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  font-size: 24px;
  letter-spacing: 1px;
}
#headingabout {
  padding-left: 60px;
  padding-top: 40px;
  font-family: yash-ne-bheja;
  font-weight: 200;
  font-size: 50px;
}
#mentor {
  height: 120px;
  width: 200px;
}
marquee {
  background-color: #925b28;
}
.judge {
  height: 400px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}
#backimg {
  margin-top: 40px;
  margin-left: 40px;
  height: 300px;
  width: 260px;
  background-color: rgb(178, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponser {
  height: 400px;
  background-color: antiquewhite;
}
#spon {
  padding: 30px;
  text-align: center;
  align-items: center;
  font-size: 60px;
}
#logo {
  height: 70px;
}
#aarambhnam{
  font-family: Georgia, 'Times New Roman', Times, serif;
}